.header__nav {
    display: flex;
    overflow: hidden;
}

.header__logo {
    flex: 1;
    display: flex;
    padding: 20px;
    position: relative;
}

.header__logo h4 {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    font-family: var(--playfair-display);
    color: #fff;
    padding-left: 30px;
    opacity: 0.8;
}

.header__logo-overlay {
    position: absolute;
    background-color: var(--primary-color);
    z-index: -1;
    inset: 0;
    width: 100%;
}

.header__menu, .header__menu-mobile {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 64px;
    padding: 20px;
    flex: 1.236;
}

.header__menu {
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 20px;
}

.mobile_header__menu {
    list-style: none;
    /* display: flex; */
    flex-direction: column;
    gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
    background-color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: none;
}

.header__menu > li > img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.hamburger-icon {
    cursor: pointer;
}

.header__menu-mobile {
    display: none;
    gap: 20px;
    position: relative;
}

.cancel {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 35px;
}